.description {
  @media (min-width: $tablet-width) {
    display: grid;
    margin-bottom: 95px;

    gap: 28px;
    grid-template-columns: 1fr 324px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 115px;

    gap: 57px;
    grid-template-columns: 531px 1fr;
  }
}

.description__info {
  display: grid;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 30px;

  column-gap: 14px;

  grid-template-columns: 120px 1fr;
  row-gap: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;

    column-gap: 26px;

    grid-template-areas: "program location" ". button";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;
    row-gap: 23px;
  }

  @media (min-width: $desktop-width) {
    align-items: start;
    margin-bottom: 0;

    gap: 0;
    grid-template-areas: "program location" ". button";
    grid-template-columns: 262px 1fr;
    grid-template-rows: 1fr 123px;
  }
}

.description__program {
  width: 113px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;

    grid-area: program;
  }

  @media (min-width: $desktop-width) {
    width: 261px;
    margin-top: 230px;
  }
}

.description__location {
  @media (min-width: $tablet-width) {
    grid-area: location;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
  }
}

.description__img {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
  }
}

.description__program-text {
  margin: 0;

  font-size: 14px;
  line-height: 143%;
  font-family: $roboto-regular;
  text-align: right;
  color: $white;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  @media (min-width: $tablet-width) {
    line-height: 157%;
  }
}

.description__location-town {
  margin: 0;
  margin-bottom: 15px;

  font-size: 32px;
  line-height: 100%;
  font-family: $alumni-semiBold;
  text-align: end;
  color: $white;
  letter-spacing: 0.023em;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;

    font-size: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 41px;

    font-size: 54px;
    letter-spacing: 0;
  }
}

.description__location-name {
  margin: 0;

  font-size: 62px;
  line-height: 100%;
  font-family: $alumni-extraBold;
  text-align: end;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;

    font-size: 72px;
    line-height: 118%;
    letter-spacing: 0.03em;
  }

  @media (min-width: $desktop-width) {
    margin: 0;

    font-size: 92px;
    line-height: 120%;
    letter-spacing: 0.0435em;
  }
}

.description__button {
  width: 290px;
  height: 60px;
  margin-top: 17px;

  font-size: 12px;
  line-height: 100%;
  font-family: $roboto-bold;
  text-align: center;
  color: $white;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid $white;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 185px;
    height: 56px;
    margin-top: 16px;

    grid-area: button;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    height: 66px;
    margin-top: 0;
  }

  &:hover {
    color: $light-blue;

    background: $white;
    border: none;
  }

  &:focus {
    color: $light-blue;

    background: rgba(255, 255, 255, 0.8);
    border-color: black;
  }

  &:active {
    color: $dark-blue;

    background: $white;
    border: none;
  }

  &--disabled {
    color: $white;

    background: transparent;
    opacity: 0.5;

    pointer-events: none;
  }
}
