.juri {
  padding-top: 41px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 101px;
    padding-bottom: 100px;
  }
}

.juri__title {
  margin: 0 0 20px;

  font-size: 32px;
  line-height: 100%;
  font-family: $alumni-semiBold;
  text-align: center;
  color: $dark-blue;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;

    font-size: 54px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.juri__mob-img {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

// a {
//   color: #ffffff;
//   text-decoration: none;
// }

// ul {
//   list-style-type: none;
// }

// img {
//   max-width: 100%;

//   object-fit: cover;
// }

// .card {
//   min-height: 300px;
//   padding: 30px;

//   font-size: 16px;
//   color: #111111;

//   background-color: LawnGreen;
// }

// .slider-container {
//   position: relative;

//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 0 15px;
// }

// .swiper-button-prev,
// .swiper-button-next {
//   width: 40px;
//   height: 40px;

//   background-color: #ffffff;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 20px 20px;
//   border-radius: 100%;
// }

// .swiper-button-prev::after,
// .swiper-button-next::after {
//   display: none;
// }

// .swiper-button-prev {
//   background-image: url("../../img/sprite/arrow.svg");
// }

// .swiper-button-next {
//   background-image: url("../../img/sprite/arrow.svg");
// }

// .slider-top {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
//   margin-bottom: 30px;
// }

// .slider-buttons {
//   display: flex;
//   align-items: center;
// }
