.juri {
  padding-top: 41px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 101px;
    padding-bottom: 100px;
  }
}

.juri__title {
  margin: 0 0 20px;

  font-size: 32px;
  line-height: 100%;
  font-family: $alumni-semiBold;
  text-align: center;
  color: $dark-blue;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;

    font-size: 54px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.juri__mob-img {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
