.offers {
  width: 100%;
  padding: 40px 0;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 60px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
  }
}

.offers__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: grid;

    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}

.offers__title {
  margin: 0 0 40px;

  font-size: 32px;
  line-height: 100%;
  font-family: $alumni-semiBold;
  color: $dark-blue;

  @media (min-width: $tablet-width) {
    margin: 0 0 34px;

    font-size: 42px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 70px;

    font-size: 54px;
  }
}
